@use "../../../assets/styles/text_mixins";
@use "../../../assets/styles/variables";

.tabs {
  display: inline-flex;
  padding: 2px;
  background-color: var(--tabs-background);
  border-radius: 12px;
  transition: background-color variables.$default-transition-time variables.$default-transition-easing;
}
