@use "../../../../assets/styles/text_mixins";
@use "../../../../assets/styles/variables";

.control {
  min-width: 250px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 20px 6px 20px;
  border: 2px solid var(--input-border);
  border-radius: 12px;
  background: var(--input-background);
  outline: none;
  transition:
    border-color variables.$default-transition-time variables.$default-transition-easing,
    background-color variables.$default-transition-time variables.$default-transition-easing;

  &.selected .placeholder {
    @include text_mixins.form-placeholder(true);
  }

  &.open .iconChevron {
    transform: rotateX(180deg);
  }

  &:not(:disabled):hover .placeholder,
  &:focus .placeholder {
    color: var(--input-text);
  }

  &.disabled {
    background-color: var(--input-background-disabled);
    border-color: var(--input-background-disabled);
    cursor: not-allowed;

    .value {
      color: var(--input-disabled-text);
    }

    .iconChevron {
      fill: var(--input-background-disabled);
    }
  }

  &:not(.disabled).readOnly {
    border-style: dashed;
  }

  &.error {
    border-color: var(--input-error);
  }
}

.placeholder {
  @include text_mixins.form-placeholder(false);

  position: absolute;
  top: 5px;
  left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 40px);
  color: var(--input-placeholder);
  pointer-events: none;
  transition:
    font-size variables.$default-transition-time variables.$default-transition-easing,
    line-height variables.$default-transition-time variables.$default-transition-easing,
    color variables.$default-transition-time variables.$default-transition-easing;
}

.value {
  @include text_mixins.form;
  padding-top: 14px;
  margin-right: 4px;
  pointer-events: none;
  user-select: none;
  color: var(--input-text);
}

.flag {
  margin-left: auto;
}

.iconChevron {
  margin-left: 12px;
  top: 50%;
  fill: var(--input-placeholder);
  transition:
          fill variables.$default-transition-time variables.$default-transition-easing;
}