@use "../../../../assets/styles/text_mixins";
@use "../../../../assets/styles/variables";

.tab {
  @include text_mixins.button;

  padding: 8px;
  border-radius: 10px;
  color: var(--tab-text);
  transition: background-color variables.$default-transition-time variables.$default-transition-easing;

  & * {
    pointer-events: none;
  }

  &:hover:not(:disabled) {
    background-color: var(--tab-background-hover);
  }

  &:disabled {
    background-color: var(--tab-background-active);
  }
}
