@use "../../../assets/styles/text_mixins";
@use "../../../assets/styles/variables";

.inlineLink {
  color: var(--inline-link);
  text-decoration: underline;
  transition: color variables.$default-transition-time variables.$default-transition-easing;

  &:hover {
    color: var(--inline-link-hover);
  }
}

.s {
  @include text_mixins.s;
}

.m {
  @include text_mixins.m;
}
