@mixin text-error-message {
  font-size: 14px;
  line-height: 16px;
}

@mixin text-form {
  font-size: 16px;
  line-height: 20px;
}

@mixin text-form-placeholder {
  font-size: 16px;
  line-height: 34px;
}

@mixin text-form-placeholder-active {
  font-size: 10px;
  line-height: 14px;
}

@mixin button {
  font-size: 16px;
  line-height: 20px;
}

@mixin s {
  font-size: 14px;
  line-height: 16px;
}

@mixin m {
  font-size: 16px;
  line-height: 20px;
}

@mixin text-brand {
  font-family: var(--brand-font), sans-serif;
  font-size: 48px;
  line-height: 54px;
}