@mixin text-error-message {
  font-size: 14px;
  line-height: 16px;
}

@mixin text-form {
  font-size: 16px;
  line-height: 20px;
}

@mixin text-form-placeholder {
  font-size: 16px;
  line-height: 34px;
}

@mixin text-form-placeholder-active {
  font-size: 10px;
  line-height: 14px;
}

@mixin text-button {
  font-size: 16px;
  line-height: 20px;
}

@mixin text-label {
  font-size: 14px;
  line-height: 16px;
}

@mixin text-default-m {
  font-size: 16px;
  line-height: 20px;
}