:root {
  --primary: #0E1621;
  --error: #A61717;
  --accent: #0BB560;

  /* Buttons */
  --button-primary-background: #2F6EA5;
  --button-primary-background-disabled: #667B90;
  --button-primary-text: #FFF;
  --button-primary-icon: #FFF;

  --button-transparent-text: #2F6EA5;
  --button-transparent-text-disabled: #667B90;
  --button-transparent-icon: #2F6EA5;

  /* Inline link */
  --inline-link: #2F6EA5;
  --inline-link-hover: #22649f;

  /* Tabs */
  --tabs-background: #17212B;
  --tab-background-active: #1E2C3A;
  --tab-background-hover: #192531;
  --tab-text: #F5F5F5;

  /* Input */
  --input-background: #17212B;
  --input-border: #1E2C3A;
  --input-placeholder: #7F91A4;
  --input-text: #F5F5F5;
  --input-disabled-text: #7F91A4;
  --input-adornment: #7F91A4;
  --input-error: var(--error);
}

[data-theme="light"] {
  --primary: #0E1621;
  --error: #A61717;
  --accent: #0BB560;

  /* Buttons */
  --button-primary-background: #2F6EA5;
  --button-primary-background-disabled: #667B90;
  --button-primary-text: #FFF;
  --button-primary-icon: #FFF;

  --button-transparent-text: #2F6EA5;
  --button-transparent-text-disabled: #667B90;
  --button-transparent-icon: #2F6EA5;

  /* Inline link */
  --inline-link: #2F6EA5;
  --inline-link-hover: #22649f;

  /* Tabs */
  --tabs-background: #17212B;
  --tab-background-active: #1E2C3A;
  --tab-background-hover: #192531;
  --tab-text: #F5F5F5;

  /* Input */
  --input-background: #17212B;
  --input-border: #1E2C3A;
  --input-placeholder: #7F91A4;
  --input-text: #F5F5F5;
  --input-disabled-text: #7F91A4;
  --input-adornment: #7F91A4;
  --input-error: var(--error);
}