:root {
  --bg-color: #0E1621;
  --error-message-color: #A61717;

  --input-bg-color: #17212B;
  --input-error-color: var(--error-message-color);
  --input-border-color: #1E2C3A;
  --input-focus-border-color: #C3C4C5;
  --input-placeholder-color: #7F91A4;
  --input-text-color: #F5F5F5;
  --input-icon-color: #7F91A4;
  --input-adornment-fill: #7F91A4;
  --input-focus-adornment-fill: #F5F5F5;

  --button-primary-bg-color: #2F6EA5;
  --button-primary-color: #FFF;

  --button-transparent-color: #2F6EA5;
}

[data-theme="light"] {
  --bg-color: #FFFFFF;
}