@use "../../../assets/styles/text_mixins";
@use "../../../assets/styles/variables";

.button {
  @include text_mixins.text-button;

  width: 100%;
  padding: 15px 16px;
  border-radius: 12px;
  transition: opacity variables.$default-transition-time variables.$default-transition-easing;

  &:hover:not(:disabled) {
    opacity: 0.8;
  }
}

.primary {
  background-color: var(--button-primary-background);
  color: var(--button-primary-text);
}

.transparent {
    color: var(--button-transparent-text);
}